In [92]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from scipy import stats
import numpy as np

In [139]:
df = pd.read_csv("data/AmesHousing.csv")
df = df.drop(columns = ["Order"])
df = df.drop(columns = [df.columns[i] for (i,x) in enumerate(df.isna().sum().values) if x>1000])
df = df.dropna().reset_index(drop = True)

In [140]:
cat = [df.columns[i] for (i,x) in enumerate(df.dtypes.values) if x == 'O']
enc = OneHotEncoder(handle_unknown='ignore',sparse=False)
mat_categorical = enc.fit_transform(df[cat])
col_categorical = enc.get_feature_names(cat)
df_categorical = pd.DataFrame(mat_categorical, columns = col_categorical)
df = df.drop(columns = cat)
df = pd.concat([df, df_categorical], axis=1)

In [141]:
z_scores = stats.zscore(df)
abs_z_scores = np.abs(z_scores)
filtered_entries = (abs_z_scores < 3).all(axis=1)
new_df = df[filtered_entries].reset_index(drop=True)

/home/skand/deep/lib/python3.8/site-packages/scipy/stats/stats.py:2500: RuntimeWarning: invalid value encountered in true_divide
  return (a - mns) / sstd

In [143]:
df

,PID,MS SubClass,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,BsmtFin SF 1,...,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD,Sale Condition_Abnorml,Sale Condition_AdjLand,Sale Condition_Alloca,Sale Condition_Family,Sale Condition_Normal,Sale Condition_Partial
0,526301100,20,141.0,31770,6,5,1960,1960,112.0,639.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,526350040,20,80.0,11622,5,6,1961,1961,0.0,468.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,526351010,20,81.0,14267,6,6,1958,1958,108.0,923.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,526353030,20,93.0,11160,7,5,1968,1968,0.0,1065.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,527105010,60,74.0,13830,5,5,1997,1998,0.0,791.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2213,923250060,20,80.0,17400,5,5,1977,1977,0.0,936.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2214,923251180,20,160.0,20000,5,7,1960,1996,0.0,1224.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
2215,923275080,80,37.0,7937,6,6,1984,1984,0.0,819.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2216,924100070,20,77.0,10010,5,5,1974,1975,0.0,1071.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2217,924151050,60,74.0,9627,7,5,1993,1994,94.0,758.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0